<div class="panel panel-default">
    <div class="panel-heading">
        <i class="clip-stack"></i>
        Sites
        <div class="panel-tools">
            <button ng-click="refreshSite()" type="button" class="btn btn-success btn-sm">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
    </div>
    <div class="panel-body">
        <div style="padding-bottom: 15px">
            <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal-add-voucher"><i class="fa fa-plus"></i> Add vouchers</button>
        </div>
        <table class="table" id="voucher_table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Create Time</th>
                    <th>Up</th>
                    <th>Down</th>
                    <th>Byte Quota</th>
                    <th>Duration</th>
                    <th>Devices</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="v in site.vouchers">
                    <td>{{v.code| formatCode}}</td>
                    <td>{{v.createdDate| date:'dd/MM/yyyy hh:mm a'}}</td>
                    <td>{{v.upLimit}}</td>
                    <td>{{v.downLimit}}</td>
                    <td>{{v.bytesLimit}}</td>
                    <td>{{v.minutes}}</td>
                    <td>{{v.macs.length}}</td>
                    <td>
                        <span class="label" ng-class="{
                            'label-success': (v.status === 'Valid'),
                            'label-warning': (v.status === 'Used'),
                            'label-error': (v.status === 'Expired')
                        }">{{v.status}}</span>
                    </td>
                </tr>
                {{sitesLoaded()}}
            </tbody>
        </table>
    </div>
</div>